{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
     <h3> Recipes under <i> {{ category}}</i> </h3>
{% block content %}
    <a href="{% url "foodie_app:recipes" recipe.id %}">View details</a>
    <div>
               {% for recipe in  recipes %}
               <div class="card mb-3">
                    <h5 class="card-header"> 
                         {{ recipe.name}} 
                    <i>Added:</i>
                    </h5>
              
                <div class="card-body">   
                    {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" height="100" width="100" alt="recipe.name">

                    {% endif %}
                    <p>Description:</p>
                   {{recipe.description}}
                <div class="row align-items-center mt-3">
                    <div class="col">
                       <small><a href="{% url "recipes:recipe_details" recipe.id %}">View recipe details</a></small>
                    </div>
                    <div class="col-auto">
                         {% if recipe.user.profile.profile_photo %}
                         <img src="{{ recipe.user.profile.profile_photo.url}}" alt="Profile photo" class="rounded-circle" width="30" height="30">
                         {% endif %}
                         <small>Created by: {{ recipe.user.username }} </small>
                      </div>
               {% endfor %}
     </div> 

{% endblock content %}
{% endblock page_header %}

