{% extends "base.html" %}
{% load django_bootstrap5%}
{% block page_header %}
     <h6>My Cookbook</h6>
{% block content %} 
    {% if recipes.exists %}
      <div>
          
               {% for recipe in  recipes %}
               <div class="card mb-3">
                    <h5 class="card-header"> 
                         {{ recipe.name}} 
                    <i>Added:</i>
                    </h5>
               
                <div class="card-body">   
                    <p>Description:</p>
                   {{recipe.description}}
                <div class="row align-items-center mt-3">
                    <div class="col">
                       <small><a href="{% url "recipes:recipe_details" recipe.id %}">View recipe details</a></small>
                    </div>
            
       
               </div></div>
          </div>       
        {% endfor %} 
     </div> 
     {% else %}
     "You have not added any recipe to your cookbook"
     {% endif %}
{% endblock content %}
{% endblock page_header %} 