{% extends "base.html" %}
{% load django_bootstrap5%}
{% block content %}
     <div class="card mb-3">
          
               <h5 class="card-header"> {{ recipe.name}} </h5>
               <div class="card-body">
                    <i>Description:</i>
                    <p class="card-text">{{recipe.description}}</p>
                    <i>Ingredients:</i>
                    <p class="card-text">{{recipe.ingredients}}</p>
                    <i>Directions:</i>
                    <p class="card-text">{{recipe.directions}}</p>
               <div class="card-text">
                    <form action="{% url "recipes:toggle_favorite" recipe_id=recipe.id %}" method="post"> 
                         {% csrf_token %}
                         {% if recipe in user.favorite_recipes.all %}
                      <button type="submit" class="btn btn-link p-0 m-0"><i class="fas fa-heart" style="color:red"></i></button>
                      {% else %}
                      <button type="submit" class="btn btn-link p-0 m-0"><i class="far fa-heart"></i></button>

                      {% endif %}
                      </form>
                      <a href="{% url "recipes:delete_recipes" recipe.id%}">Delete Recipe</a>
                      <a href="{% url "recipes:edit_recipes" recipe.id%}">Edit Recipe</a>

                    </div> 
                    
          </div>
     </div> 
     <div class="mt-4">
          <h5>Comments:</h5>
          {% for comment in comments %}
             <div class="d-flex align-items-centre mb-2">
                 <div>
                 <strong>{{comment.user.username}}<strong>
                  Commented on {{ comment.date_added|date:"F d, Y"}}  
                  {{ comment.date_added|time:"H:i" }}:<br>
                 </div>
               <br>
               "{{ comment.text }}"
               </div>
                    
               {% empty%}
               <p> No comments yet</p>
               {%endfor%}
     </div>
{% endblock content %}